* {
    box-sizing: border-box;
}
.container {
    width: 900px;
    margin: auto;
}
.clear-fix {
    clear: both;
}
.container-componant h2 {
    font-size: 40px;
    width: fit-content;
    margin: auto;
    font-weight: 800;
    line-height: 30px;
    margin-bottom: 40px;
    margin-top: 40px;
    padding-bottom: 30px;
    padding-top: 80px;
    text-align: center;
    position: relative;
    text-transform: capitalize;
    border-bottom: 1px solid red;
    position: relative;
}
.container-componant h2::after {
    content: "";
    width: 50%;
    height: 1px;
    background-color: red;
    position: absolute;
    top: 95%;
    left: 20%;
}
.container-componant h2::before {
    content: "";
    width: 50%;
    height: 1px;
    background-color: red;
    position: absolute;
    top: 105%;
    left: 20%;
}

.header {

height: 100vh;
background-image:url(../img/slider/slider-01.jpg) ;
background-size:cover;
background-position: center center;
}
.header .layer {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.header h1 {
    color: #ff305b;
    font-size: 70px;
    font-weight: 900;
    font-family: 'Source Sans Pro', sans-serif;
}
.header h4 {
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    color: #ffffff;

}
.header p {
    font-size: 26px;
    text-transform: capitalize;
    color: #fff;
}
/* end header */
/* start about */
.about {
    margin-top: 80px;
}
.about .about-container {
    display: flex;
    justify-content: space-between;
}
.about .block-img {
    width: 35%;

}
.about .about-img img{
width: 100%;
}
.block-img{
    border: 10px solid #555555;

}
.about .about-img {
    position: relative;
    left: 8%;
    top: 20px;
    overflow: hidden;

}
.caption-img {
    position: relative;
}

.about .about-layer {
    background-color: rgba(0, 0,0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}

.about .caption-img:hover .about-layer {
    top: 0;
}
.about .about-layer i {
    padding: 5px;
}
.about .about-content {
    width: 60%;
}


.about-content h2{
    position: relative;
    font-size: 34px;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 42px;
    padding-left: 13px;
    font-family: 'Source Sans Pro', sans-serif;

}
.about-content h2::after {
content: "";
background-color: #ff305b ;
width: 5px;
position: absolute;
left: 0;
height: 100%;
}
.about .about-content p {
    border-bottom: 1px dashed #999999;
    margin-bottom: 10px;
    padding-bottom: 10px;
    color: #555555;
}
.about-profile {
display: flex;
}
.about-profile ul li {
    list-style-type: none;
    color: #555555;

}
.about-profile ul li span{
    color: #333333;
    font-size: 20px;
}

.about .about-content .btn {
    background: #ff305b ;
    border-radius: 4px;
    color: #ffffff;
    margin-right: 10px;
    padding: 10px 24px;
    border: none;
    transition: background-color 1s;
}
.about .about-content .btn:hover {
    background-color: burlywood;
}

/* end about */
/* start services */
.services {
    background-color: #f1f1f1;
    padding-bottom: 50px;
}
.services .services-contant {
    display: flex;
}
.services .services-contant .services-caption{
padding: 40px 15px;
transition: all 1s;

}
.services .services-contant i{
    font-size: 30px;
    width: 100px;
    padding-bottom: 5px;
position: relative;
    left: 30%;
    margin: auto;
    color: red;

}
.services .services-contant h3{
    color: #333333;
}
.services .services-contant p{
    margin: 16px 0;
    color: #000000;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;

}
.services .services-contant .services-caption:hover{
    background-color: #fff;
}
/* end services */
/* start portfolio */
.portfolio-btn {
    display: flex;
justify-content: center;}
.portfolio-btn button {
    border: none;
    padding: 20px;
    margin-bottom: 20px;
background-color: transparent;
    cursor: pointer;
}
.portfolio-img {
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;


}

.portfolio-img .portfolio-caption {
    margin:  15px;
    width: 30%;
    position: relative;

}
.portfolio-img .portfolio-caption img{
    width: 100%;

}
.portfolio-caption .portfolio-layer {
    background-color:rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 1s;

}
.portfolio-caption:hover .portfolio-layer{
    opacity: 1;
}

/* end portfolio */
/* start fun-facts-area */
.fun-fact{
    background-color: #f1f1f1;
    padding: 80px 0;
}
    .fun-section{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
    }
    .fun-content{
        display: flex;
        flex-direction: column;
        }
        .fun-content i {
            font-size: 30px;
            width: 100px;
            padding-bottom: 13px;
            color: red;
        }
/* end fun-facts-area */
                /* START Client's Feedback */
                .home-testimonial {
               display: flex;
               background-color: #f1f1f1;
               padding: 30px;
               overflow: hidden;

                }
                .testimonial .container{
                    /* position: relative; */


                }

                .img-testimonial{
                    width: 25%;
                    position: relative;


                }
                .img-testimonial img{
                    width: 70%;
                    border-radius: 50%;
                    z-index: 9;
                    position: relative;





                }
                .testimonial-layer{
                    background-color: #ff305b;
                    width: 250px;
                    height: 250px;
                    transform: rotate(45deg);
                    position: absolute;
                    top: -80%;
                    left: -80%;
                }
                .testimonial-content{
                    width: 70%;
                }
                .testimonial-icon i {
                    color: gold;
                }
                
                /* END Client's Feedback */
                /* start blog */
                .blog {
                    background-color: #f1f1f1;
                }
                .blog-content{
                    display: flex;
                    justify-content: space-between;
                }
                .blog-caption{
                    width: 30%;
                    background-color: #fff;

                }
                .blog-caption img {
                    width: 100%;
                }
                .blog-caption video {
                }
                .blog-caption .date {
                    color: #555555;
                    margin: 0 0 10px;
                }
                .blog-caption h2 a {
                    text-decoration: none;
                    color: #333333;
                }
                .blog-caption p {
                    color: #555555;
                    margin: 15px;
                    font-size: 20px;
                }
                .blog-icon a {
                    text-decoration: none;
                    text-transform: uppercase;
                    color: #555555;
                }

                /* end blog */
                /* start contact us  */
                .contact-form table{
                    width: 40%;
                    padding: 0 80px;



                }
                .contact-form table td  input{
                  /* width: 100%; */
                   
                }
                .contact-form table .form-name{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                }
                .contact-form table .form-name  .input-one {
                    width: 45%;

                }
                .contact-form table .form-name  .input-two {
                    width: 45%;
                }
                .contact-form table .input-three input {
                    width: 100%;
                }
                .contact-form table  input{
                    padding: 6px 20px;
                    margin-bottom: 15px;
                }
                .contact-form button{
                    background: #ff305b ;
                    border-radius: 4px;
                    color: #ffffff;
                    margin-right: 10px;
                    padding: 10px 24px;
                    border: none;
                    transition: background-color 1s;
                }
                .contact-form button:hover {
                    background-color: burlywood;
                }
                
                /* end contact us  */